/* Tropika Island Font - Web Font Import */
@font-face {
  font-family: 'Tropika Island';
  src: url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.eot');
  src: url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/5083ba7ca767b11cd9be11cf324eb94a.svg#Tropika Island Int Interlock') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply Tropika Island to headings and brand elements */
.tropika-font {
  font-family: 'Tropika Island', sans-serif;
}

h1.tropika-font,
h2.tropika-font,
h3.tropika-font {
  font-family: 'Tropika Island', sans-serif;
  letter-spacing: 0.02em;
}
